<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Free CRM Application Test Automation Test Suite">

	
<parameter name = "original" value = "MANGO"></parameter>

  <test name=" Playing With Strings Ammmaoooo" >
    <classes>
       <class name="PlayingWithString" />

    </classes>
  </test>
</suite>



